apiVersion: v1
kind: Service
metadata:
  name: nginx-lb
  namespace: webapp
spec:
  type: NodePort
  selector:
    app: nginx-lb
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30080
      protocol: TCP